rsc/dvbviewertimerimport/resources/datafiles/DVBVTimerImportPrcd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <xsd:element name="Processed">
      <xsd:complexType>
      	<xsd:sequence>
      		<xsd:element name="Entry" minOccurs="0"
      			maxOccurs="unbounded" type="DVBViewerEntry">
      		</xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="version" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="DVBViewerEntry">
    	<xsd:sequence>
    		<xsd:element name="Title" type="xsd:string" minOccurs="1"
    			maxOccurs="1">
    		</xsd:element>
    		<xsd:element name="MergedEntries" minOccurs="0"
    			maxOccurs="1">
    			<xsd:complexType>
    				<xsd:sequence>
    					<xsd:element name="Id" type="xsd:int"
    						maxOccurs="unbounded" minOccurs="0">
    					</xsd:element>
    				</xsd:sequence>
    			</xsd:complexType>
    		</xsd:element>
    	</xsd:sequence>

    	<xsd:attribute name="id" type="long" use="required"></xsd:attribute>
    	<xsd:attribute name="dvbID" type="xsd:long" use="optional"></xsd:attribute>
    	<xsd:attribute name="isFilterElement" type="xsd:boolean"
    		use="required">
    		<xsd:annotation>
    			<xsd:documentation>
    				Is set if entry is generated by the merge algorithm
    			</xsd:documentation>
    		</xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="statusTimer" use="required">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="ENABLED"></xsd:enumeration>
    				<xsd:enumeration value="DISABLED"></xsd:enumeration>
    				<xsd:enumeration value="REMOVED"></xsd:enumeration>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="channelSetID" use="required">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:int">
    				<xsd:minExclusive value="0"></xsd:minExclusive>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="start" type="long" use="required"></xsd:attribute>
    	<xsd:attribute name="end" type="long" use="required"></xsd:attribute>
    	<xsd:attribute name="startOrg" type="long" use="required"></xsd:attribute>
    	<xsd:attribute name="endOrg" type="long" use="required"></xsd:attribute>
    	<xsd:attribute name="days">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:length value="7"></xsd:length>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="timerAction">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="RECORD"></xsd:enumeration>
    				<xsd:enumeration value="TUNE"></xsd:enumeration>
    				<xsd:enumeration value="AUDIO_PLUGIN"></xsd:enumeration>
    				<xsd:enumeration value="VIDEO_PLUGIN"></xsd:enumeration>
    				<xsd:enumeration value="DEFAULT"></xsd:enumeration>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="actionAfter">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="NONE"></xsd:enumeration>
    				<xsd:enumeration value="POWER_OFF"></xsd:enumeration>
    				<xsd:enumeration value="STANDBY"></xsd:enumeration>
    				<xsd:enumeration value="HIBERNATE"></xsd:enumeration>
    				<xsd:enumeration value="CLOSE"></xsd:enumeration>
    				<xsd:enumeration value="PLAYLIST"></xsd:enumeration>
    				<xsd:enumeration value="SLUMBERMODE"></xsd:enumeration>
    				<xsd:enumeration value="DEFAULT"></xsd:enumeration>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="mergeStatus" type="MergeStatus"
    		use="required">
    	</xsd:attribute>
    	<xsd:attribute name="mergeID" type="long" use="optional"></xsd:attribute>
    	<xsd:attribute name="provider" use="optional">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="TVInfo"></xsd:enumeration>
    				<xsd:enumeration value="ClickFinder"></xsd:enumeration>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="providerID" type="xsd:string">
    	</xsd:attribute>
    	<xsd:attribute name="enable" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="missingSince" type="long" use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="missingSyncSince" type="xsd:int"
    		use="optional">
    	</xsd:attribute>
    </xsd:complexType>

    <xsd:simpleType name="myDVBViewerChannelType">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="(\d+\|.*)"></xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="long">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="(-)?\d+"></xsd:pattern>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MergeStatus">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="UNKNOWN"></xsd:enumeration>
    		<xsd:enumeration value="DISABLED"></xsd:enumeration>
    		<xsd:enumeration value="ENABLED"></xsd:enumeration>
    		<xsd:enumeration value="MERGE"></xsd:enumeration>
    		<xsd:enumeration value="JUST_SEPARATED"></xsd:enumeration>
    		<xsd:enumeration value="SEPARATED_FIXED"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>